<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClu2vBy0X6JDoEqA0wxIBTxu0-LqxDfO8</string>
	<key>GCM_SENDER_ID</key>
	<string>27406331071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alcantara</string>
	<key>PROJECT_ID</key>
	<string>act4-6b5a1</string>
	<key>STORAGE_BUCKET</key>
	<string>act4-6b5a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27406331071:ios:9060fd662084d2f86c6a0a</string>
</dict>
</plist>